@using WebApplication2.Models.Entity
@model WebApplication2.Models.Entity.tablosatislar

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal1">
        Satış Yap
    </button>


@*<table class="table table-bordered">
    <tr>
        <th>SATIŞ NO</th>
        <th>ÜRÜN ADI</th>
        <th>MÜŞTERİ</th>
        <th>ADETİ</th>
        <th>FİYAT</th>
    </tr>
    <tbody>
        @foreach (var sts in Model)
        {
            <tr>
                <th>@sts.satisid</th>
                <td>@sts.ürün</td>
                <td>@sts.müsteri</td>
                <td>@sts.adet</td>
                <td>@sts.fiyat</td>
            </tr>
        }

    </tbody>
</table>*@

<div class="modal" id="Modal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Satış Ekranı</h2>
            </div>
            <form action="/Satis/YeniSatis" method="post">
                <div class="modal-body">
                    <label>
                        Ürün Adı
                    </label>
                    @Html.TextBoxFor(m => m.ürün, new { @class = "form-control" })
                    <br />
                    <label>
                        Müşteri Adı Soyadı
                    </label>
                    @Html.TextBoxFor(m => m.müsteri, new { @class = "form-control" })
                    <br />
                    <label>
                        Adet
                    </label>
                    @Html.TextBoxFor(m => m.adet, new { @class = "form-control" })
                    <br />
                    <label>
                        Fiyat
                    </label>
                    @Html.TextBoxFor(m => m.fiyat, new { @class = "form-control" })
                    <br />
                    <button type="submit" class="btn btn-info">Satış Yap</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Vazgeç</button>
                </div>
        </div>
        </form>
    </div>

</div>

